---
import { Image } from 'astro:assets';
import { twMerge } from 'tailwind-merge';
import { Icon } from 'astro-icon/components';
import FullLogo from '../icons/logo-large.svg';
import IconMinimizeMenu from '../icons/icon-minimize-menu.svg';
import IconBudgets from '../icons/icon-nav-budgets.svg';
import IconTransactions from '../icons/icon-nav-transactions.svg';
import IconPots from '../icons/icon-nav-pots.svg';
import IconRecurringBills from '../icons/icon-nav-recurring-bills.svg';

interface NavItem {
    href: string;
    label: string;
    icon: string;
}
const navItems: NavItem[] = [
    {
        href: '/',
        label: 'Overview',
        icon: 'icon-nav-overview'
    },
    {
        href: '/transactions',
        label: 'Transactions',
        icon: 'icon-nav-transactions'	
    },
    {
        href: '/budgets',
        label: 'Budgets',
        icon: 'icon-nav-budgets'
    },
    {
        href: '/pots',
        label: 'Pots',
        icon: 'icon-nav-pots'
    },
    {
        href: '/recurring-bills',
        label: 'Recurring bills',
        icon: 'icon-nav-recurring-bills'
    },
]

const itemSpacing = "flex py-200 px-400 min-w-64 rounded-r-md border-l-4 border-transparent"
const itemMargin = "ml-200"

const currentPath = Astro.url.pathname;

const isActive = (href: string) => currentPath === href ? 'bg-beige-100 text-grey-900 border-secondary-green' : '';

---

<aside class="sticky top-0">
    <nav class="bg-grey-900 h-screen rounded-r-lg text-grey-300 flex flex-col justify-between text-preset-3">
        <div>
            <div class="py-500 px-400">
                <Image src={FullLogo} alt="Finance logo" />
            </div>
            <ul class="pt-300 pr-300 flex flex-col">
                {navItems.map(item => (
                    <li class="flex items-center">
                        <a class={twMerge(itemSpacing, isActive(item.href))} href={item.href}>
                            {/* TODO: Fix fill for Icons */}
                            <Icon name={item.icon} size="24" class="text-secondary-green fill-current" />
                            <p class={itemMargin}>{item.label}</p>
                        </a>
                    </li>
                ))}
            </ul>
        </div>
        <div class="py-300">
            <button class={itemSpacing}>
                <Image src={IconMinimizeMenu} alt="" />
                <p class={itemMargin}>Minimize Menu</p>
            </button>
        </div>
    </nav>
</aside>
